@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.reveal {
    animation: fadeInUp 0.8s ease-out forwards;
}




@keyframes slide-down {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slide-up {
    from {
        transform: translateY(0);
        opacity: 1;
    }

    to {
        transform: translateY(-100%);
        opacity: 0;
    }
}

/* Animación de entrada */
dialog[open] div.fixed {
    animation: slide-down 0.3s ease-out forwards;
}

/* Animación de salida - La clase .closing debe estar en el dialog */
dialog.closing div.fixed {
    animation: slide-up 0.3s ease-in forwards !important;
}

/* Animación de entrada (cuando el dialog está abierto pero NO cerrándose) */
#menu-mobile-admin[open] div.fixed {
    animation: slide-down 0.3s ease-out forwards;
}

/* Animación de salida (cuando tiene la clase .closing) */
#menu-mobile-admin.closing div.fixed {
    animation: slide-up 0.3s ease-in forwards !important;
}

@keyframes slide-down {
    from {
        transform: translateY(-100%);
    }

    to {
        transform: translateY(0);
    }
}

@keyframes slide-up {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(-100%);
    }
}

/* Ventana */
@keyframes modalFadeIn {
    0% {
        opacity: 0 !important;
        transform: scale(0.9) translateY(20px) !important;
    }

    100% {
        opacity: 1 !important;
        transform: scale(1) translateY(0) !important;
    }
}

.modal-animacion {
    /* Forzamos que la animación se ejecute en cuanto el elemento entre al DOM */
    animation: modalFadeIn 0.3s cubic-bezier(0.34, 1.56, 0.64, 1) forwards !important;
    will-change: transform, opacity;
}