@import "tailwindcss";


[x-cloak] {
    display: none !important;
}

html {
    scroll-behavior: smooth;
}

@layer base {
    body {
        @apply transition-colors duration-300;
    }
}

/* Animación de entrada suave y hacia arriba */
@keyframes view-fade-in {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-view {
    animation: view-fade-in 0.4s ease-out forwards;
}


/* Animación para el SELECT */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}